# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Custom
.sconsign.dblite
_build
_ignore
.clangd
__pycache__
.pytest_cache
.ipynb_checkpoints
.mypy_cache
*.pyc
_modules
_sources
.RData
.Rhistory

# Python packaging
build/
dist/
pip-wheel-metadata/
.mypy_cache
compile_commands.json
src/CMakeLists.txt
